## Pandas Data Frames

- Applying functions, working with Numpy functions
- Concatinatng & Merging
- Dealing with Missing values
- Dummy Variables
- I/O operations

In [ ]:
%matplotlib inline
import numpy as np
import pandas as pd
from IPython.display import Image
from IPython.display import HTML
from IPython.display import Markdown, display
def printmd(string):
    display(Markdown(string))

CSS = """
.output {
    align-items: center;
}
"""
HTML('''<script>
code_show=true; 
function code_toggle() {
 if (code_show){
 $('div.input').hide();
 } else {
 $('div.input').show();
 }
 code_show = !code_show
} 
$( document ).ready(code_toggle);
</script>
<form action="javascript:code_toggle()"><input type="submit" value="Code mode"></form>''')

In [ ]:
from IPython.display import display, HTML

CSS = """
.output {
    align-items: center;
}
div.output_area {
    width: 80%;
}
"""
HTML('<style>{}</style>'.format(CSS))

In [ ]:
data = {
    'name': ['Xavier', 'Ann', 'Jana', 'Yi', 'Robin', 'Amal', 'Nori'],
    'city': ['Mexico City', 'Toronto', 'Prague', 'Shanghai',
             'Manchester', 'Cairo', 'Osaka'],
    'age': [41, 28, 33, 34, 38, 31, 37],
    'py-score': [88.0, 79.0, 81.0, 80.0, 68.0, 61.0, 84.0],
    'js-score': [71.0, 95.0, 88.0, 79.0, 91.0, 91.0, 80.0]

}

students_df = pd.DataFrame(data=data)
students_df

### Applying functions

### Applying Arithmetic functions

In [ ]:
students_df

In [ ]:
## adding computed column , feature engineering 
students_df['total'] =\ # slash to breake it down into a couple lines
(0.4 * students_df['py-score'] + 0.3 * students_df['js-score'])/0.7
students_df

In [ ]:
students_df.iloc[:, 3:5]

### using existing NumPy function instead of writing your own function

In [ ]:
np.average(students_df.iloc[:, 3:5], axis=1,
                         weights=[0.4, 0.3])

In [ ]:
students_df['total']= np.average(students_df.iloc[:, 3:5], axis=1,
                         weights=[0.4, 0.3])

In [ ]:
array = np.array(students_df.total)

In [ ]:
array

### Apply function

In [ ]:
students_df[["py-score","js-score"]].apply(lambda x :  x* 10)

In [ ]:
students_df[["py-score","js-score"]].apply(np.sqrt)

In [ ]:
students_df

In [ ]:
##del students_df['total']

#print("students_df['total'] = np.average(students_df.iloc[:, 2:5], axis=1,weights=[0.4, 0.3, 0.3])")
students_df['total'] = 50
students_df

In [ ]:
students_df['age'] # or .age would also be possible

## Map function with Lambda

In [ ]:
students_df["py-score"]= list(map(lambda x:x+10,students_df["py-score"]))
students_df

In [ ]:
students_df["py-score"]= students_df["py-score"].apply(lambda x: x+10)
students_df

### Concatinating
- concat mutilpe data frames on the same axis.
- pd.concat()

In [ ]:
Image("res/merging_concat_dict_keys_copy.png") ####### Photo on your folder #####

source:pandas.pydata.org

In [ ]:
print('df = pd.DataFrame(np.random.randn(10, 4))')
df = pd.DataFrame(np.random.randn(7, 4))
print(df)
print("\npieces = [df[:2], df[2:4], df[4:]]")
pieces = [df[:2], df[2:4], df[4:]]
pieces

In [ ]:
help(pd.concat)

In [ ]:
print("\npd.concat(pieces)")
pd.concat(pieces)

### Working with Missing Data

### np.nan is used to represent missing values

In [ ]:
print("df_ = pd.DataFrame({'x': [1, 2, np.nan, 4]})")
df_ = pd.DataFrame({'x': [1, 2, np.nan, 4]})
df_

In [ ]:
df_["y"]=[2,np.nan,4,5]
df_['example']=[2,3,4,np.nan]
df_

### Dropping rows that contains missing values

In [ ]:
df_.dropna(subset=['y'])

In [ ]:
#print("df_.dropna()")
df_.dropna()             
df_.dropna(how='all') ## this willl drop all the rows with no value(nan)

In [ ]:
df_.dropna(how='any') ## this is the default version.

### and you can fill the missing values with fillna..

<b>  filling nas with mean

In [ ]:
df_.mean()

In [ ]:
df_[["x"]].fillna(value=df_.x.mean()) #imputation

In [ ]:
df_

In [ ]:
df_ = pd.DataFrame({'x': [1, 2, np.nan, 4]})
print('df_.fillna(value=0)\n',df_.fillna(value=0))
print("\ndf_.fillna(method=ffill)\n",df_.fillna(method='ffill')) #forward fill
print("\ndf_.fillna(method=bfill)\n",df_.fillna(method='bfill')) #backward fill

## Dummy variables
- dummy variables are binary variables that represents the values that categorical variables hold. 
- It is an efficient representation for programming, preprocessing, analysing and ML tasks purposes.

#### Here is an example...

In [ ]:
df = pd.DataFrame({'A': ['a', 'b', 'a'], 'B': ['b', 'a', 'c'],
                   'C': [1, 2, 3]})
df

In [ ]:
pd.get_dummies(df, prefix=['col1', 'col2'])

In [ ]:
df.apply(np.unique)

### I/O operations
- reading data directly from csv, text, Excel files, DFS
- Pandas Data Frames are not persistent storage!
- writing data directly to file storage.

In [ ]:
students_df.to_csv("students_df.csv",index=False) # in order to save as csv

In [ ]:
Image("res/Q&A.png")